header h1,h3 {
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    }

header{
        background-color: rgb(111, 111, 199);
    }

body {
     background-color:burlywood
}

body h2 {
    text-align: center;
    
}

/* Style the tab */
.tab-1 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab-1 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab-1 button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab-1 button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tab-2 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab-2 button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab-2 button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab-2 button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .aboutUs {
    text-align: center;
  }


  form {
    display: box;
    margin: 0px 0px 15px 20px;
    padding: 4px;
    width: 80%;
    height: 5%;
    box-sizing: border-box;
    border:none;
    outline: none;
    font-size: 12px;
}